<!DOCTYPE html>
<html>
<title>SDMiner: Mining Data Streams on top of Apache Spark</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/app.css">

<body id="app">

<nav class="w3-sidenav w3-black w3-card-2" style="width:130px">
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <a href="#"  id="default-tab" class="tablink" onclick="openTab(event, 'Sessions')">Sessions</a>
  <a href="#"  class="tablink" onclick="openTab(event, 'Job Descriptor')">Job Descriptor</a>
  <a href="#" class="tablink" onclick="openTab(event, 'Jobs')">Jobs</a>
</nav>

<div style="margin-left:130px">
  <div class="w3-padding">
  <a href="https://github.com/pi0/sdminer">SDMiner</a> &nbsp;a Tool for Mining Data Streams on top of Apache Spark
  (Last update:{{lastUpdate}})
  </div>

  <div id="Sessions" class="w3-container city w3-animate-left">
    <h2>Sessions</h2>
    <p>Use this section for creating and managing Spark Sessions.</p>
	<button class="w3-btn w3-hover-blue" @click="getSessionStatus">Get Sessions Status</button>
	<div class="w3-textarea">
			<h2>Total Sessions: {{sessions.total}} </h2>
			<table class="w3-table">
				<tr>
					<th>ID</th>
					<th>Kind</th>
					<th>State</th>
				</tr>
				<tr v-for="session in sessions.sessions">
					<td>{{session.id}}</td>
					<td>{{session.kind}}</td>
					<td>{{session.state}}</td>
					<td><button @click="deleteSession(session.id)" class="w3-btn w3-hover-blue">Delete</button></td>
				</tr>
			</table>
		</div>
		
	<hr>
	

	<button class="w3-btn w3-hover-blue" @click="startSession">Start New Session</button>

  </div>

  <div id="Job Descriptor" class="w3-container city w3-animate-left">
    <h2>Job Descriptor</h2>
    <div class="w3-card-4">
		<div class="w3-container w3-blue">
		  <h2>New Job Descriptor</h2>
		</div>

		<div class="w3-container">
		<br>
		<label class="w3-label">Select Jar File</label>
		<br>
		<input class="w3-hover-blue" type='file' name='userFile' id="userFile">
		<input class="w3-input" type="text" v-model="file_name" >
		<br>
		<!--
		<div class="w3-dropdown-hover">
		  <button class="w3-btn w3-blue">Algorithm</button>
		  <div class="w3-dropdown-content w3-border">
			<a href="#">DSFR -PreIndexed</a>
			<a href="#">DSFR -WithState</a>
		  </div>
		</div>
		-->
		<br/>
		<label class="w3-label">Class Name</label>
		<input class="w3-input" type="text" v-model="class_name" >
		<br/>
		<label class="w3-label">Parameters</label>
		<input class="w3-input" type="text" v-model="args">
		<br/>
		<label class="w3-label">API URL</label>
		<input class="w3-input" type="text" v-model="url">
		<br/>
		<button class="w3-btn w3-blue" @click="sendBatch">Run</button>
		</div>
		<br/>
		<div v-if="result!=null">
			<h2>Job Result:</h2>
			<h3>ID: {{result.id}}</h3>
			<h3>State: {{result.state}}</h3>
			<h3>Kind: {{result.kind}}</h3>
		</div>
		<button class="w3-btn w3-blue" @click="implementMe">End Job</button>
</div>
  </div>

  <div id="Jobs" class="w3-container city w3-animate-left">
    <h2>Jobs</h2>
    <p>Running Jobs will be shown here.</p>
    <button class="w3-btn w3-hover-blue" @click="getJobs">Get Jobs Status</button>
	<br><br>
	
	<div class="w3-textarea">
			<pre>{{batches}}</pre>
			<br>
		</div>
		<hr>
		<label class="w3-label">Job Number</label>
		<input class="w3-input" type="text" v-model="job_number">
		<br><br>
	<button class="w3-btn w3-hover-blue" @click="implementMe">Delete Job</button>
  </div>

</div>


<script src="js/vue.js"></script>
<script src="js/jquery.js"></script>
<script src="js/app.js"></script>
</body>
</html>

